html,
body {
	background-color: #000000 !important;
	overflow-x: hidden;
}

thead {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

table,
td,
tr {
	background-color: rgba(0, 0, 0, 0.25) !important;
}

.navbar {
	background-color: #000000 !important;
	box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(200, 200, 200, 0.6) !important;
	transition: opacity 0.25s linear;
}

thead > tr > th {
	border-bottom: none !important;
}

tbody > tr:hover > td {
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.05) !important;
}

input {
	background-color: #cbcbcb !important;
	color: #000000 !important;
}

.form-control:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(200, 200, 200, 0.6) !important;
}

.label-success {
	background-color: #474c9d !important;
}

.label-info {
	background-color: #5a7d87 !important;
}

.label-danger {
	background-color: #f4312b !important;
}

.btn:focus {
	border-color: #ffffff !important;
}

.btn-default {
	background-image: linear-gradient(#797b7f, #474a4d 60%, #313539) !important;
}

.btn-default:hover {
	background-image: linear-gradient(#797b7f, #131313 60%, #313539) !important;
}

.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback {
	color: #a94442 !important;
}

.has-success .control-label,
.has-success .help-block,
.has-success .form-control-feedback {
	color: #1dad43 !important;
}

.modal-content {
	background-color: rgba(33, 33, 33, 0.95) !important;
}

body.modal-open #root {
	filter: blur(5px);
}

.dropdown-menu {
	background-color: rgba(58, 63, 68, 0.75) !important;
}
