.container {
	flex-direction: column;
	padding: 25px;
}

.section {
	margin-top: 20px;
	margin-bottom: 20px;
}

.line {
	margin-top: 10px;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 128px;
	height: 128px;
}

.title {
	font-size: 50px;
	color: #426a9c;
}

.error {
	color: red;
}

.input {
	width: 300px;
}

.button {
	margin-left: 10px;
	margin-right: 10px;
}

.progressbar {
	height: 10px;
}
